
.job-card-container{
    width: 100%;
    margin:0 auto;
    margin-bottom:40px;
    line-height: 1.8rem;
    display: flex;
    padding-left:50px;
    flex-direction: column;


    @media @mobile {
        padding-left:15px;
        padding-right: 15px;   
      }

    .job-spacer{
        display: none;
        @media @mobile {
            display: block;
        }        
    }

    .job-card-company{
        font-size:2rem;
        border-bottom:2px solid @frmBgColor;
        display:flex;
        justify-content: space-between;

        .job-card-actions{

            .job-card-action-delete{
                font-size:1.4rem;
                text-decoration: underline;
                cursor: pointer;
                
            }
        }
    }
    .job-card-details{
        display: flex;
        width: 100%;
        border-right:2px solid @frmBgColor;
        padding:20px;
        justify-content: space-between;
        
        @media @mobile {
            flex-direction: column;
        }


        .job-text-data{
            width: 40%;
            
            @media @mobile {
                width: 100%;
            }
    
            .job-detail{
                display:flex;
            }
        }
    }
    .job-card-text-area{
        width: 60%;

        @media @mobile {
            width: 100%;
        }


        .job-card-text-boxes{
            border:1px solid #ccc;
            height:150px;
            padding:10px;
            line-height: 1.6rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .job-text-header{
        font-weight: bold;
    }


}

.job-text{
    width:25%;

    p{
        font-size:1rem;
    }
}
.job-row{
    display: flex;
}