
.job-card-container{
    width: 70%;
    margin:0 auto;
    border:1px solid black;
    display: flex;
    margin-bottom:40px;


    .job-card-description{
        width: 40%;
        .job-text-header{
            font-size:2rem;
        }
    }
    .job-card-textareas{
        width: 60%;
        display: flex;
        flex-direction: column;
    }

}

.job-text{
    width:25%;

    p{
        font-size:1rem;
    }
}
.job-row{
    display: flex;
}