
.job-card-container{
    width: 100%;
    margin:0 auto;
    margin-bottom:40px;
    line-height: 1.8rem;

    .job-card-company{
        font-size:2rem;
        border-bottom: 1px solid @yellowAccentColor;
    }
    .job-card-details{
        display: flex;
        width: 100%;
        border-right:1px solid @yellowAccentColor;
        padding:20px;

        .job-text-data{
            width: 40%;
            .job-detail{
                display:flex;
            }
        }
    }
    .job-card-text-area{
        width: 60%;

        .job-card-text-boxes{
            border:1px solid #ccc;
            height:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

}

.job-text{
    width:25%;

    p{
        font-size:1rem;
    }
}
.job-row{
    display: flex;
}