.heroHeader{
    background-color:@buttonColor;
    height:@menuHeight;
    width: 100%;
    position: fixed;
    border-bottom:1px solid @yellowAccentColor;
    border-left:1px solid @yellowAccentColor;
    border-right:1px solid @yellowAccentColor; 
}