.btnSubmit {
    width: 150px;
    margin-top: 50px;
  }
  
  .frmAddJobApplication {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer {
    width: 30%;
  }
  .historyContainer {
    width: 70%;
  }
  
  .mainContainer {
    width: 100%;
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
  }
  .companyName {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .companyName div {
    text-align: center;
  }
  
  .job-container{
    display: flex;
    flex-direction: column;
  }
  .job-header{
    display: flex;
  }
  .job-category{
    width: 25%;
  }